.mediaViewInfo {
	--web-view-name: Map - Red (MM);
	--web-view-id: Map_-_Red_MM;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Map_-_Red_MM;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Map_-_Red_MM {
	position: absolute;
	width: 1024px;
	height: 600px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Map - Red (MM);
	--web-view-id: Map_-_Red_MM;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_387_n {
	fill: rgba(255,255,255,1);
	stroke: rgba(44,101,141,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_387_n {
	position: absolute;
	overflow: visible;
	width: 334px;
	height: 440px;
	left: 584px;
	top: 94px;
}
#Group_41_n {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 718.575px;
	top: 131.246px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Map___Yellow__MM_.html;
	cursor: pointer;
}
#noun_Myanmar_3353450_n {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_37_n {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_215_n {
	fill: rgba(255,228,54,1);
}
.Path_215_n {
	overflow: visible;
	position: absolute;
	width: 70.044px;
	height: 146.179px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_602_n {
	fill: rgba(255,255,255,1);
}
.Path_602_n {
	overflow: visible;
	position: absolute;
	width: 8.89px;
	height: 3.335px;
	left: 15.285px;
	top: 49.231px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_639_n {
	fill: rgba(255,255,255,1);
}
.Path_639_n {
	overflow: visible;
	position: absolute;
	width: 8.89px;
	height: 3.335px;
	left: 27.641px;
	top: 59.117px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_603_n {
	fill: rgba(255,255,255,1);
}
.Path_603_n {
	overflow: visible;
	position: absolute;
	width: 8.555px;
	height: 3.231px;
	left: 38.47px;
	top: 48.918px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_42_oa {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 630.844px;
	top: 124.449px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Map___Green__MM__.html;
	cursor: pointer;
}
#noun_Myanmar_3353450_ob {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_37_oc {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_215_od {
	fill: rgba(0,255,57,1);
}
.Path_215_od {
	overflow: visible;
	position: absolute;
	width: 70.044px;
	height: 146.179px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_594_oe {
	fill: rgba(255,255,255,1);
}
.Path_594_oe {
	overflow: visible;
	position: absolute;
	width: 8.89px;
	height: 3.335px;
	left: 14.667px;
	top: 52.32px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_595_of {
	fill: rgba(255,255,255,1);
}
.Path_595_of {
	overflow: visible;
	position: absolute;
	width: 8.555px;
	height: 3.231px;
	left: 37.853px;
	top: 52.007px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_596_og {
	fill: rgba(255,255,255,1);
}
.Path_596_og {
	overflow: visible;
	position: absolute;
	width: 11.085px;
	height: 5.837px;
	left: 25.248px;
	top: 61.575px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_44_oh {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 723.225px;
	top: 338.326px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Map___Purple__MM_.html;
	cursor: pointer;
}
#noun_Myanmar_3353450_oi {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_37_oj {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_215_ok {
	fill: rgba(116,78,194,1);
}
.Path_215_ok {
	overflow: visible;
	position: absolute;
	width: 70.044px;
	height: 146.179px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#noun_Gas_Mask_843993_ol {
	position: absolute;
	width: 17.934px;
	height: 17.743px;
	left: 22.86px;
	top: 56.84px;
	overflow: visible;
}
#Path_629_om {
	fill: rgba(255,255,255,1);
}
.Path_629_om {
	overflow: visible;
	position: absolute;
	width: 1.487px;
	height: 5.042px;
	left: 5.436px;
	top: 10.488px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_630_on {
	fill: rgba(255,255,255,1);
}
.Path_630_on {
	overflow: visible;
	position: absolute;
	width: 1.495px;
	height: 5.025px;
	left: 11.027px;
	top: 10.488px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_631_oo {
	fill: rgba(255,255,255,1);
}
.Path_631_oo {
	overflow: visible;
	position: absolute;
	width: 4.699px;
	height: 4.67px;
	left: 6.62px;
	top: 10.665px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_632_op {
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_632_op {
	overflow: visible;
	position: absolute;
	width: 18.999px;
	height: 18.743px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_633_oq {
	fill: rgba(255,255,255,1);
}
.Path_633_oq {
	overflow: visible;
	position: absolute;
	width: 1.794px;
	height: 2.699px;
	left: 10.575px;
	top: 4.524px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_636_or {
	fill: rgba(255,255,255,1);
}
.Path_636_or {
	overflow: visible;
	position: absolute;
	width: 5.85px;
	height: 5.85px;
	left: 37.688px;
	top: 46.337px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_637_os {
	fill: rgba(255,255,255,1);
}
.Path_637_os {
	overflow: visible;
	position: absolute;
	width: 5.85px;
	height: 5.85px;
	left: 21.334px;
	top: 46.337px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_7_ot {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_7_ot {
	overflow: visible;
	position: absolute;
	width: 16.03px;
	height: 11.933px;
	left: 40.468px;
	top: 51.589px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_9_ou {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_9_ou {
	overflow: visible;
	position: absolute;
	width: 4.906px;
	height: 3.903px;
	left: 40.468px;
	top: 71.977px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_10_ov {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_ov {
	overflow: visible;
	position: absolute;
	width: 9.859px;
	height: 7.603px;
	left: 13.901px;
	top: 71.977px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_8_ow {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_8_ow {
	overflow: visible;
	position: absolute;
	width: 16.673px;
	height: 13.149px;
	left: 7.105px;
	top: 50.353px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_43_ox {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 630.551px;
	top: 338.326px;
	overflow: visible;
}
#noun_Myanmar_3353450_oy {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_37_oz {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_215_o {
	fill: rgba(255,0,16,1);
}
.Path_215_o {
	overflow: visible;
	position: absolute;
	width: 70.044px;
	height: 146.179px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_616_o {
	fill: rgba(255,255,255,1);
}
.Path_616_o {
	overflow: visible;
	position: absolute;
	width: 7.292px;
	height: 3.069px;
	left: 17.229px;
	top: 50.652px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_617_o {
	fill: rgba(255,255,255,1);
}
.Path_617_o {
	overflow: visible;
	position: absolute;
	width: 7.293px;
	height: 3.069px;
	left: 36.9px;
	top: 50.676px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_638_o {
	fill: rgba(255,255,255,1);
}
.Path_638_o {
	overflow: visible;
	position: absolute;
	width: 21.624px;
	height: 10.628px;
	left: 21.006px;
	top: 58.693px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_3_o {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3_o {
	overflow: visible;
	position: absolute;
	width: 12.871px;
	height: 8.271px;
	left: 42.321px;
	top: 51.589px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4_o {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4_o {
	overflow: visible;
	position: absolute;
	width: 17.693px;
	height: 8.333px;
	left: 4.016px;
	top: 51.589px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_5_o {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5_o {
	overflow: visible;
	position: absolute;
	width: 14.423px;
	height: 4.066px;
	left: 10.194px;
	top: 68.888px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_6_o {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_6_o {
	overflow: visible;
	position: absolute;
	width: 8.505px;
	height: 5.205px;
	left: 38.614px;
	top: 68.888px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_12_o {
	fill: transparent;
	stroke: rgba(255,114,114,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_o {
	overflow: visible;
	position: absolute;
	width: 10.268px;
	height: 1px;
	left: 26.875px;
	top: 61.474px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_13_o {
	fill: transparent;
	stroke: rgba(255,114,114,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_13_o {
	overflow: visible;
	position: absolute;
	width: 10.268px;
	height: 1px;
	left: 26.875px;
	top: 63.327px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_14_pa {
	fill: transparent;
	stroke: rgba(255,114,114,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_14_pa {
	overflow: visible;
	position: absolute;
	width: 10.268px;
	height: 1px;
	left: 26.875px;
	top: 65.181px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_45_pb {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 810.957px;
	top: 342.65px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Map___Brown__MM_.html;
	cursor: pointer;
}
#noun_Myanmar_3353450_pc {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_37_pd {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_215_pe {
	fill: rgba(148,20,45,1);
}
.Path_215_pe {
	overflow: visible;
	position: absolute;
	width: 70.044px;
	height: 146.179px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#noun_Gas_Mask_54734_pf {
	position: absolute;
	width: 62.63px;
	height: 61.315px;
	left: 0px;
	top: 21.292px;
	overflow: visible;
}
#Ellipse_243_pg {
	fill: rgba(255,255,255,1);
}
.Ellipse_243_pg {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 29.147px;
	top: 42.493px;
}
#Ellipse_244_ph {
	fill: rgba(255,255,255,1);
}
.Ellipse_244_ph {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 29.147px;
	top: 53.654px;
}
#Ellipse_245_pi {
	fill: rgba(255,255,255,1);
}
.Ellipse_245_pi {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 24.323px;
	top: 45.279px;
}
#Ellipse_246_pj {
	fill: rgba(255,255,255,1);
}
.Ellipse_246_pj {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 33.988px;
	top: 50.859px;
}
#Ellipse_247_pk {
	fill: rgba(255,255,255,1);
}
.Ellipse_247_pk {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 24.323px;
	top: 50.851px;
}
#Ellipse_248_pl {
	fill: rgba(255,255,255,1);
}
.Ellipse_248_pl {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 33.988px;
	top: 45.271px;
}
#Ellipse_249_pm {
	fill: rgba(255,255,255,1);
}
.Ellipse_249_pm {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 29.147px;
	top: 48.064px;
}
#Path_623_pn {
	fill: rgba(255,255,255,1);
}
.Path_623_pn {
	overflow: visible;
	position: absolute;
	width: 32.915px;
	height: 27.901px;
	left: 14.701px;
	top: 10.377px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_624_po {
	fill: rgba(255,255,255,1);
}
.Path_624_po {
	overflow: visible;
	position: absolute;
	width: 62.63px;
	height: 61.315px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_641_pp {
	fill: rgba(255,255,255,1);
}
.Path_641_pp {
	overflow: visible;
	position: absolute;
	width: 5.85px;
	height: 5.85px;
	left: 36.452px;
	top: 40.776px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_640_pq {
	fill: rgba(255,255,255,1);
}
.Path_640_pq {
	overflow: visible;
	position: absolute;
	width: 5.85px;
	height: 5.85px;
	left: 20.099px;
	top: 40.776px;
	transform: matrix(1,0,0,1,0,0);
}
#States_pr {
	fill: rgba(0,160,255,1);
}
.States_pr {
	display: none;
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 907px;
	top: 7px;
}
#EN_ps {
	left: 847px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: Libre Baskerville;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#_pt {
	left: 953px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: Libre Baskerville;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Rectangle_811_pu {
	fill: rgba(255,0,16,1);
}
.Rectangle_811_pu {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 157px;
	left: 199px;
	top: 377px;
}
#_____ {
	left: 217px;
	top: 394px;
	position: absolute;
	overflow: visible;
	width: 306px;
	height: 107px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Group_1296_pw {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 806.924px;
	top: 131.246px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Map___Orange__MM_.html;
	cursor: pointer;
}
#Group_40_px {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#noun_Myanmar_3353450_py {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_37_pz {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_215_p {
	fill: rgba(255,147,25,1);
}
.Path_215_p {
	overflow: visible;
	position: absolute;
	width: 70.044px;
	height: 146.179px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_605_p {
	fill: rgba(255,255,255,1);
}
.Path_605_p {
	overflow: visible;
	position: absolute;
	width: 8.89px;
	height: 3.335px;
	left: 15.285px;
	top: 49.231px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_604_p {
	fill: rgba(255,255,255,1);
}
.Path_604_p {
	overflow: visible;
	position: absolute;
	width: 8.555px;
	height: 3.231px;
	left: 38.47px;
	top: 48.918px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_335_p {
	fill: rgba(255,255,255,1);
}
.Path_335_p {
	overflow: visible;
	position: absolute;
	width: 13.841px;
	height: 4.969px;
	left: 25.777px;
	top: 58.64px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1297_p {
	position: absolute;
	width: 143.77px;
	height: 91.005px;
	left: 32.23px;
	top: 410px;
	overflow: visible;
}
#Path_662_p {
	fill: rgba(255,0,16,1);
}
.Path_662_p {
	overflow: visible;
	position: absolute;
	width: 9.781px;
	height: 16.955px;
	left: 94.617px;
	top: 39.154px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_663_p {
	fill: rgba(255,0,16,1);
}
.Path_663_p {
	overflow: visible;
	position: absolute;
	width: 9.782px;
	height: 16.954px;
	left: 58.425px;
	top: 40.051px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_664_p {
	fill: rgba(255,0,16,1);
}
.Path_664_p {
	overflow: visible;
	position: absolute;
	width: 21.984px;
	height: 11.576px;
	left: 70.024px;
	top: 57.25px;
	transform: matrix(1,0,0,1,0,0);
}
#noun_Cloud_23746_p {
	fill: rgba(255,0,16,1);
}
.noun_Cloud_23746_p {
	overflow: visible;
	position: absolute;
	width: 143.77px;
	height: 91.005px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_-__p {
	left: 220px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(112,112,112,1);
}
#_-__qa {
	left: 337px;
	top: 121px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(112,112,112,1);
}
#_-__qb {
	left: 461px;
	top: 121px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(112,112,112,1);
}
#_-__qc {
	left: 205px;
	top: 249px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(112,112,112,1);
}
#_-__qd {
	left: 328px;
	top: 250px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(112,112,112,1);
}
#_-__qe {
	left: 465px;
	top: 250px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(112,112,112,1);
}
#_qf {
	left: 220px;
	top: 137px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,255,57,1);
}
#_qg {
	left: 353px;
	top: 137px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,228,54,1);
}
#___qh {
	left: 428px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(253,166,51,1);
}
#____qi {
	left: 318px;
	top: 271px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,0,16,1);
}
#_qj {
	left: 171px;
	top: 270px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,114,114,1);
}
#_qk {
	left: 469px;
	top: 270px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(116,78,194,1);
}
#Rectangle_784_ql {
	fill: rgba(0,255,57,1);
}
.Rectangle_784_ql {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 22px;
	left: 199px;
	top: 95px;
}
#Rectangle_785_qm {
	fill: rgba(255,228,54,1);
}
.Rectangle_785_qm {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 22px;
	left: 326px;
	top: 95px;
}
#Rectangle_786_qn {
	fill: rgba(253,166,51,1);
}
.Rectangle_786_qn {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 22px;
	left: 455px;
	top: 95px;
}
#Rectangle_787_qo {
	fill: rgba(255,88,88,0.839);
}
.Rectangle_787_qo {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 21px;
	left: 199px;
	top: 226px;
}
#Rectangle_788_qp {
	fill: rgba(255,0,16,1);
}
.Rectangle_788_qp {
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 21px;
	left: 323px;
	top: 226px;
}
#Rectangle_789_qq {
	fill: rgba(116,78,194,1);
}
.Rectangle_789_qq {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 21px;
	left: 455px;
	top: 226px;
}
#Dark___Selection_Controls3_Swi_qr {
	position: absolute;
	width: 34px;
	height: 20px;
	left: 901px;
	top: 17px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Map___Red__EN__.html;
	cursor: pointer;
}
#_Color_l_Track_qs {
	fill: rgba(112,236,247,0.502);
}
._Color_l_Track_qs {
	position: absolute;
	overflow: visible;
	width: 34px;
	height: 14px;
	left: 0px;
	top: 3px;
}
#_Color_l_Thumb_qt {
	fill: rgba(112,236,247,1);
}
._Color_l_Thumb_qt {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 14px;
	top: 0px;
}