.mediaViewInfo {
	--web-view-name: Map - Brown (EN) ;
	--web-view-id: Map_-_Brown_EN_;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Map_-_Brown_EN_;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Map_-_Brown_EN_ {
	position: absolute;
	width: 1024px;
	height: 600px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Map - Brown (EN) ;
	--web-view-id: Map_-_Brown_EN_;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#ID0-50 {
	left: 220px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(112,112,112,1);
}
#ID51-100 {
	left: 342px;
	top: 121px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(112,112,112,1);
}
#ID101-150 {
	left: 467px;
	top: 121px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(112,112,112,1);
}
#ID151-200 {
	left: 211px;
	top: 249px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(112,112,112,1);
}
#ID201-300 {
	left: 334px;
	top: 250px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(112,112,112,1);
}
#ID301-500 {
	left: 471px;
	top: 250px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(112,112,112,1);
}
#Good {
	left: 220px;
	top: 137px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,255,57,1);
}
#Modrate {
	left: 338px;
	top: 137px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,228,54,1);
}
#Unhealthy_For_sensitive_group {
	left: 436px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(253,166,51,1);
}
#Vary_Unhealthy {
	left: 320px;
	top: 271px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(116,78,194,1);
}
#Unhealthy {
	left: 205px;
	top: 270px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,0,16,1);
}
#Hazardous {
	left: 466px;
	top: 270px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(148,20,45,1);
}
#Rectangle_784_fu {
	fill: rgba(0,255,57,1);
}
.Rectangle_784_fu {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 22px;
	left: 199px;
	top: 95px;
}
#Rectangle_785_fv {
	fill: rgba(255,228,54,1);
}
.Rectangle_785_fv {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 22px;
	left: 326px;
	top: 95px;
}
#Rectangle_786_fw {
	fill: rgba(255,147,25,1);
}
.Rectangle_786_fw {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 22px;
	left: 455px;
	top: 95px;
}
#Rectangle_787_fx {
	fill: rgba(255,0,16,1);
}
.Rectangle_787_fx {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 21px;
	left: 199px;
	top: 226px;
}
#Rectangle_788_fy {
	fill: rgba(116,78,194,1);
}
.Rectangle_788_fy {
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 21px;
	left: 323px;
	top: 226px;
}
#Rectangle_789_fz {
	fill: rgba(148,20,45,1);
}
.Rectangle_789_fz {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 21px;
	left: 455px;
	top: 226px;
}
#Rectangle_387_f {
	fill: rgba(255,255,255,1);
	stroke: rgba(44,101,141,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_387_f {
	position: absolute;
	overflow: visible;
	width: 334px;
	height: 440px;
	left: 584px;
	top: 94px;
}
#Group_41_f {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 718.575px;
	top: 131.246px;
	overflow: visible;
}
#noun_Myanmar_3353450_f {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Map___Yellow__EN_.html;
	cursor: pointer;
}
#Group_37_f {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_215_f {
	fill: rgba(255,228,54,1);
}
.Path_215_f {
	overflow: visible;
	position: absolute;
	width: 70.044px;
	height: 146.179px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_602_f {
	fill: rgba(255,255,255,1);
}
.Path_602_f {
	overflow: visible;
	position: absolute;
	width: 8.89px;
	height: 3.335px;
	left: 15.285px;
	top: 49.231px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_639_f {
	fill: rgba(255,255,255,1);
}
.Path_639_f {
	overflow: visible;
	position: absolute;
	width: 8.89px;
	height: 3.335px;
	left: 27.641px;
	top: 59.117px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_603_f {
	fill: rgba(255,255,255,1);
}
.Path_603_f {
	overflow: visible;
	position: absolute;
	width: 8.555px;
	height: 3.231px;
	left: 38.47px;
	top: 48.918px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_42_f {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 630.844px;
	top: 124.449px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Map___Green__EN_.html;
	cursor: pointer;
}
#noun_Myanmar_3353450_ga {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_37_ga {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_215_gb {
	fill: rgba(0,255,57,1);
}
.Path_215_gb {
	overflow: visible;
	position: absolute;
	width: 70.044px;
	height: 146.179px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_594_gc {
	fill: rgba(255,255,255,1);
}
.Path_594_gc {
	overflow: visible;
	position: absolute;
	width: 8.89px;
	height: 3.335px;
	left: 14.667px;
	top: 52.32px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_595_gd {
	fill: rgba(255,255,255,1);
}
.Path_595_gd {
	overflow: visible;
	position: absolute;
	width: 8.555px;
	height: 3.231px;
	left: 37.853px;
	top: 52.007px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_596_ge {
	fill: rgba(255,255,255,1);
}
.Path_596_ge {
	overflow: visible;
	position: absolute;
	width: 11.085px;
	height: 5.837px;
	left: 25.248px;
	top: 61.575px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_44_gf {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 723.225px;
	top: 338.326px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Map___Purple__EN__.html;
	cursor: pointer;
}
#noun_Myanmar_3353450_gg {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_37_gh {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_215_gi {
	fill: rgba(116,78,194,1);
}
.Path_215_gi {
	overflow: visible;
	position: absolute;
	width: 70.044px;
	height: 146.179px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#noun_Gas_Mask_843993_gj {
	position: absolute;
	width: 17.934px;
	height: 17.743px;
	left: 22.86px;
	top: 56.84px;
	overflow: visible;
}
#Path_629_gk {
	fill: rgba(255,255,255,1);
}
.Path_629_gk {
	overflow: visible;
	position: absolute;
	width: 1.487px;
	height: 5.042px;
	left: 5.436px;
	top: 10.488px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_630_gl {
	fill: rgba(255,255,255,1);
}
.Path_630_gl {
	overflow: visible;
	position: absolute;
	width: 1.495px;
	height: 5.025px;
	left: 11.027px;
	top: 10.488px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_631_gm {
	fill: rgba(255,255,255,1);
}
.Path_631_gm {
	overflow: visible;
	position: absolute;
	width: 4.699px;
	height: 4.67px;
	left: 6.62px;
	top: 10.665px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_632_gn {
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_632_gn {
	overflow: visible;
	position: absolute;
	width: 18.999px;
	height: 18.743px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_633_go {
	fill: rgba(255,255,255,1);
}
.Path_633_go {
	overflow: visible;
	position: absolute;
	width: 1.794px;
	height: 2.699px;
	left: 10.575px;
	top: 4.524px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_636_gp {
	fill: rgba(255,255,255,1);
}
.Path_636_gp {
	overflow: visible;
	position: absolute;
	width: 5.85px;
	height: 5.85px;
	left: 37.688px;
	top: 46.337px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_637_gq {
	fill: rgba(255,255,255,1);
}
.Path_637_gq {
	overflow: visible;
	position: absolute;
	width: 5.85px;
	height: 5.85px;
	left: 21.334px;
	top: 46.337px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_7_gr {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_7_gr {
	overflow: visible;
	position: absolute;
	width: 16.03px;
	height: 11.933px;
	left: 40.468px;
	top: 51.589px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_9_gs {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_9_gs {
	overflow: visible;
	position: absolute;
	width: 4.906px;
	height: 3.903px;
	left: 40.468px;
	top: 71.977px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_10_gt {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_gt {
	overflow: visible;
	position: absolute;
	width: 9.859px;
	height: 7.603px;
	left: 13.901px;
	top: 71.977px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_8_gu {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_8_gu {
	overflow: visible;
	position: absolute;
	width: 16.673px;
	height: 13.149px;
	left: 7.105px;
	top: 50.353px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_43_gv {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 630.551px;
	top: 338.326px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Map___Red__EN__.html;
	cursor: pointer;
}
#noun_Myanmar_3353450_gw {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_37_gx {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_215_gy {
	fill: rgba(255,0,16,1);
}
.Path_215_gy {
	overflow: visible;
	position: absolute;
	width: 70.044px;
	height: 146.179px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_616_gz {
	fill: rgba(255,255,255,1);
}
.Path_616_gz {
	overflow: visible;
	position: absolute;
	width: 7.292px;
	height: 3.069px;
	left: 17.229px;
	top: 50.652px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_617_g {
	fill: rgba(255,255,255,1);
}
.Path_617_g {
	overflow: visible;
	position: absolute;
	width: 7.293px;
	height: 3.069px;
	left: 36.9px;
	top: 50.676px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_638_g {
	fill: rgba(255,255,255,1);
}
.Path_638_g {
	overflow: visible;
	position: absolute;
	width: 21.624px;
	height: 10.628px;
	left: 21.006px;
	top: 58.693px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_3_g {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3_g {
	overflow: visible;
	position: absolute;
	width: 12.871px;
	height: 8.271px;
	left: 42.321px;
	top: 51.589px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4_g {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4_g {
	overflow: visible;
	position: absolute;
	width: 17.693px;
	height: 8.333px;
	left: 4.016px;
	top: 51.589px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_5_g {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5_g {
	overflow: visible;
	position: absolute;
	width: 14.423px;
	height: 4.066px;
	left: 10.194px;
	top: 68.888px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_6_g {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_6_g {
	overflow: visible;
	position: absolute;
	width: 8.505px;
	height: 5.205px;
	left: 38.614px;
	top: 68.888px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_12_g {
	fill: transparent;
	stroke: rgba(255,114,114,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_g {
	overflow: visible;
	position: absolute;
	width: 10.268px;
	height: 1px;
	left: 26.875px;
	top: 61.474px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_13_g {
	fill: transparent;
	stroke: rgba(255,114,114,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_13_g {
	overflow: visible;
	position: absolute;
	width: 10.268px;
	height: 1px;
	left: 26.875px;
	top: 63.327px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_14_g {
	fill: transparent;
	stroke: rgba(255,114,114,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_14_g {
	overflow: visible;
	position: absolute;
	width: 10.268px;
	height: 1px;
	left: 26.875px;
	top: 65.181px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_45_g {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 810.957px;
	top: 342.65px;
	overflow: visible;
}
#noun_Myanmar_3353450_ha {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_37_hb {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_215_hc {
	fill: rgba(148,20,45,1);
}
.Path_215_hc {
	overflow: visible;
	position: absolute;
	width: 70.044px;
	height: 146.179px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#noun_Gas_Mask_54734_hd {
	position: absolute;
	width: 62.63px;
	height: 61.315px;
	left: 0px;
	top: 21.292px;
	overflow: visible;
}
#Ellipse_243_he {
	fill: rgba(255,255,255,1);
}
.Ellipse_243_he {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 29.147px;
	top: 42.493px;
}
#Ellipse_244_hf {
	fill: rgba(255,255,255,1);
}
.Ellipse_244_hf {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 29.147px;
	top: 53.654px;
}
#Ellipse_245_hg {
	fill: rgba(255,255,255,1);
}
.Ellipse_245_hg {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 24.323px;
	top: 45.279px;
}
#Ellipse_246_hh {
	fill: rgba(255,255,255,1);
}
.Ellipse_246_hh {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 33.988px;
	top: 50.859px;
}
#Ellipse_247_hi {
	fill: rgba(255,255,255,1);
}
.Ellipse_247_hi {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 24.323px;
	top: 50.851px;
}
#Ellipse_248_hj {
	fill: rgba(255,255,255,1);
}
.Ellipse_248_hj {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 33.988px;
	top: 45.271px;
}
#Ellipse_249_hk {
	fill: rgba(255,255,255,1);
}
.Ellipse_249_hk {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 29.147px;
	top: 48.064px;
}
#Path_623_hl {
	fill: rgba(255,255,255,1);
}
.Path_623_hl {
	overflow: visible;
	position: absolute;
	width: 32.915px;
	height: 27.901px;
	left: 14.701px;
	top: 10.377px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_624_hm {
	fill: rgba(255,255,255,1);
}
.Path_624_hm {
	overflow: visible;
	position: absolute;
	width: 62.63px;
	height: 61.315px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_641_hn {
	fill: rgba(255,255,255,1);
}
.Path_641_hn {
	overflow: visible;
	position: absolute;
	width: 5.85px;
	height: 5.85px;
	left: 36.452px;
	top: 40.776px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_640_ho {
	fill: rgba(255,255,255,1);
}
.Path_640_ho {
	overflow: visible;
	position: absolute;
	width: 5.85px;
	height: 5.85px;
	left: 20.099px;
	top: 40.776px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_99 {
	position: absolute;
	width: 34px;
	height: 20px;
	left: 901px;
	top: 17px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Map___Brown__MM_.html;
	cursor: pointer;
}
#Dark___Selection_Controls3_Swi_hq {
	position: absolute;
	width: 34px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_Color_l_Track_hr {
	fill: rgba(184,181,228,0.502);
}
._Color_l_Track_hr {
	position: absolute;
	overflow: visible;
	width: 34px;
	height: 14px;
	left: 0px;
	top: 3px;
}
#_Color_l_Thumb_hs {
	fill: rgba(151,148,222,1);
}
._Color_l_Thumb_hs {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#States_ht {
	fill: rgba(0,160,255,1);
}
.States_ht {
	display: none;
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 907px;
	top: 7px;
}
#EN_hu {
	left: 847px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: Libre Baskerville;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#_hv {
	left: 953px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: Libre Baskerville;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Path_1477_hw {
	fill: rgba(148,20,45,1);
}
.Path_1477_hw {
	overflow: visible;
	position: absolute;
	width: 330px;
	height: 157px;
	left: 199px;
	top: 377px;
	transform: matrix(1,0,0,1,0,0);
}
#Health_warnings_of_emergency_c {
	left: 217px;
	top: 394px;
	position: absolute;
	overflow: visible;
	width: 306px;
	height: 102px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Group_1296_hy {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 806.924px;
	top: 131.246px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Map___Orange__EN__.html;
	cursor: pointer;
}
#Group_40_hz {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#noun_Myanmar_3353450_h {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_37_h {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_215_h {
	fill: rgba(255,147,25,1);
}
.Path_215_h {
	overflow: visible;
	position: absolute;
	width: 70.044px;
	height: 146.179px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_605_h {
	fill: rgba(255,255,255,1);
}
.Path_605_h {
	overflow: visible;
	position: absolute;
	width: 8.89px;
	height: 3.335px;
	left: 15.285px;
	top: 49.231px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_604_h {
	fill: rgba(255,255,255,1);
}
.Path_604_h {
	overflow: visible;
	position: absolute;
	width: 8.555px;
	height: 3.231px;
	left: 38.47px;
	top: 48.918px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_335_h {
	fill: rgba(255,255,255,1);
}
.Path_335_h {
	overflow: visible;
	position: absolute;
	width: 13.841px;
	height: 4.969px;
	left: 25.777px;
	top: 58.64px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1297_h {
	position: absolute;
	width: 143.77px;
	height: 91.005px;
	left: 32.23px;
	top: 410px;
	overflow: visible;
}
#Path_662_h {
	fill: rgba(148,20,45,1);
}
.Path_662_h {
	overflow: visible;
	position: absolute;
	width: 9.781px;
	height: 16.955px;
	left: 94.617px;
	top: 39.154px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_663_h {
	fill: rgba(148,20,45,1);
}
.Path_663_h {
	overflow: visible;
	position: absolute;
	width: 9.782px;
	height: 16.954px;
	left: 58.425px;
	top: 40.051px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_664_h {
	fill: rgba(148,20,45,1);
}
.Path_664_h {
	overflow: visible;
	position: absolute;
	width: 21.984px;
	height: 11.576px;
	left: 70.024px;
	top: 57.25px;
	transform: matrix(1,0,0,1,0,0);
}
#noun_Cloud_23746_ia {
	fill: rgba(148,20,45,1);
}
.noun_Cloud_23746_ia {
	overflow: visible;
	position: absolute;
	width: 143.77px;
	height: 91.005px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}