.mediaViewInfo {
	--web-view-name: Map - Purple (EN) ;
	--web-view-id: Map_-_Purple_EN_;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Map_-_Purple_EN_;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Map_-_Purple_EN_ {
	position: absolute;
	width: 1024px;
	height: 600px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Map - Purple (EN) ;
	--web-view-id: Map_-_Purple_EN_;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#ID0-50_k {
	left: 220px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(112,112,112,1);
}
#ID51-100_k {
	left: 342px;
	top: 121px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(112,112,112,1);
}
#ID101-150_k {
	left: 467px;
	top: 121px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(112,112,112,1);
}
#ID151-200_la {
	left: 211px;
	top: 249px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(112,112,112,1);
}
#ID201-300_lb {
	left: 334px;
	top: 250px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(112,112,112,1);
}
#ID301-500_lc {
	left: 471px;
	top: 250px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(112,112,112,1);
}
#Good_ld {
	left: 220px;
	top: 137px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,255,57,1);
}
#Modrate_le {
	left: 338px;
	top: 137px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,228,54,1);
}
#Unhealthy_For_sensitive_group_lf {
	left: 436px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(253,166,51,1);
}
#Vary_Unhealthy_lg {
	left: 320px;
	top: 271px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(116,78,194,1);
}
#Unhealthy_lh {
	left: 205px;
	top: 270px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,0,16,1);
}
#Hazardous_li {
	left: 466px;
	top: 270px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(148,20,45,1);
}
#Rectangle_784_lj {
	fill: rgba(0,255,57,1);
}
.Rectangle_784_lj {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 22px;
	left: 199px;
	top: 95px;
}
#Rectangle_785_lk {
	fill: rgba(255,228,54,1);
}
.Rectangle_785_lk {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 22px;
	left: 326px;
	top: 95px;
}
#Rectangle_786_ll {
	fill: rgba(255,147,25,1);
}
.Rectangle_786_ll {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 22px;
	left: 455px;
	top: 95px;
}
#Rectangle_787_lm {
	fill: rgba(255,0,16,1);
}
.Rectangle_787_lm {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 21px;
	left: 199px;
	top: 226px;
}
#Rectangle_788_ln {
	fill: rgba(116,78,194,1);
}
.Rectangle_788_ln {
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 21px;
	left: 323px;
	top: 226px;
}
#Rectangle_789_lo {
	fill: rgba(148,20,45,1);
}
.Rectangle_789_lo {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 21px;
	left: 455px;
	top: 226px;
}
#Rectangle_387_lp {
	fill: rgba(255,255,255,1);
	stroke: rgba(44,101,141,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_387_lp {
	position: absolute;
	overflow: visible;
	width: 334px;
	height: 440px;
	left: 584px;
	top: 94px;
}
#Group_41_lq {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 718.575px;
	top: 131.246px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Map___Yellow__EN_.html;
	cursor: pointer;
}
#noun_Myanmar_3353450_lr {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_37_ls {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_215_lt {
	fill: rgba(255,228,54,1);
}
.Path_215_lt {
	overflow: visible;
	position: absolute;
	width: 70.044px;
	height: 146.179px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_602_lu {
	fill: rgba(255,255,255,1);
}
.Path_602_lu {
	overflow: visible;
	position: absolute;
	width: 8.89px;
	height: 3.335px;
	left: 15.285px;
	top: 49.231px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_639_lv {
	fill: rgba(255,255,255,1);
}
.Path_639_lv {
	overflow: visible;
	position: absolute;
	width: 8.89px;
	height: 3.335px;
	left: 27.641px;
	top: 59.117px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_603_lw {
	fill: rgba(255,255,255,1);
}
.Path_603_lw {
	overflow: visible;
	position: absolute;
	width: 8.555px;
	height: 3.231px;
	left: 38.47px;
	top: 48.918px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_42_lx {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 630.844px;
	top: 124.449px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Map___Green__EN_.html;
	cursor: pointer;
}
#noun_Myanmar_3353450_ly {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_37_lz {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_215_l {
	fill: rgba(0,255,57,1);
}
.Path_215_l {
	overflow: visible;
	position: absolute;
	width: 70.044px;
	height: 146.179px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_594_l {
	fill: rgba(255,255,255,1);
}
.Path_594_l {
	overflow: visible;
	position: absolute;
	width: 8.89px;
	height: 3.335px;
	left: 14.667px;
	top: 52.32px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_595_l {
	fill: rgba(255,255,255,1);
}
.Path_595_l {
	overflow: visible;
	position: absolute;
	width: 8.555px;
	height: 3.231px;
	left: 37.853px;
	top: 52.007px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_596_l {
	fill: rgba(255,255,255,1);
}
.Path_596_l {
	overflow: visible;
	position: absolute;
	width: 11.085px;
	height: 5.837px;
	left: 25.248px;
	top: 61.575px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_44_l {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 723.225px;
	top: 338.326px;
	overflow: visible;
}
#noun_Myanmar_3353450_l {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_37_l {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_215_ma {
	fill: rgba(116,78,194,1);
}
.Path_215_ma {
	overflow: visible;
	position: absolute;
	width: 70.044px;
	height: 146.179px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#noun_Gas_Mask_843993_l {
	position: absolute;
	width: 17.934px;
	height: 17.743px;
	left: 22.86px;
	top: 56.84px;
	overflow: visible;
}
#Path_629_l {
	fill: rgba(255,255,255,1);
}
.Path_629_l {
	overflow: visible;
	position: absolute;
	width: 1.487px;
	height: 5.042px;
	left: 5.436px;
	top: 10.488px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_630_ma {
	fill: rgba(255,255,255,1);
}
.Path_630_ma {
	overflow: visible;
	position: absolute;
	width: 1.495px;
	height: 5.025px;
	left: 11.027px;
	top: 10.488px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_631_mb {
	fill: rgba(255,255,255,1);
}
.Path_631_mb {
	overflow: visible;
	position: absolute;
	width: 4.699px;
	height: 4.67px;
	left: 6.62px;
	top: 10.665px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_632_mc {
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_632_mc {
	overflow: visible;
	position: absolute;
	width: 18.999px;
	height: 18.743px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_633_md {
	fill: rgba(255,255,255,1);
}
.Path_633_md {
	overflow: visible;
	position: absolute;
	width: 1.794px;
	height: 2.699px;
	left: 10.575px;
	top: 4.524px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_636_me {
	fill: rgba(255,255,255,1);
}
.Path_636_me {
	overflow: visible;
	position: absolute;
	width: 5.85px;
	height: 5.85px;
	left: 37.688px;
	top: 46.337px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_637_mf {
	fill: rgba(255,255,255,1);
}
.Path_637_mf {
	overflow: visible;
	position: absolute;
	width: 5.85px;
	height: 5.85px;
	left: 21.334px;
	top: 46.337px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_7_mg {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_7_mg {
	overflow: visible;
	position: absolute;
	width: 16.03px;
	height: 11.933px;
	left: 40.468px;
	top: 51.589px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_9_mh {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_9_mh {
	overflow: visible;
	position: absolute;
	width: 4.906px;
	height: 3.903px;
	left: 40.468px;
	top: 71.977px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_10_mi {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_mi {
	overflow: visible;
	position: absolute;
	width: 9.859px;
	height: 7.603px;
	left: 13.901px;
	top: 71.977px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_8_mj {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_8_mj {
	overflow: visible;
	position: absolute;
	width: 16.673px;
	height: 13.149px;
	left: 7.105px;
	top: 50.353px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_43_mk {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 630.551px;
	top: 338.326px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Map___Red__EN__.html;
	cursor: pointer;
}
#noun_Myanmar_3353450_ml {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_37_mm {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_215_mn {
	fill: rgba(255,0,16,1);
}
.Path_215_mn {
	overflow: visible;
	position: absolute;
	width: 70.044px;
	height: 146.179px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_616_mo {
	fill: rgba(255,255,255,1);
}
.Path_616_mo {
	overflow: visible;
	position: absolute;
	width: 7.292px;
	height: 3.069px;
	left: 17.229px;
	top: 50.652px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_617_mp {
	fill: rgba(255,255,255,1);
}
.Path_617_mp {
	overflow: visible;
	position: absolute;
	width: 7.293px;
	height: 3.069px;
	left: 36.9px;
	top: 50.676px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_638_mq {
	fill: rgba(255,255,255,1);
}
.Path_638_mq {
	overflow: visible;
	position: absolute;
	width: 21.624px;
	height: 10.628px;
	left: 21.006px;
	top: 58.693px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_3_mr {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3_mr {
	overflow: visible;
	position: absolute;
	width: 12.871px;
	height: 8.271px;
	left: 42.321px;
	top: 51.589px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4_ms {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4_ms {
	overflow: visible;
	position: absolute;
	width: 17.693px;
	height: 8.333px;
	left: 4.016px;
	top: 51.589px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_5_mt {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5_mt {
	overflow: visible;
	position: absolute;
	width: 14.423px;
	height: 4.066px;
	left: 10.194px;
	top: 68.888px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_6_mu {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_6_mu {
	overflow: visible;
	position: absolute;
	width: 8.505px;
	height: 5.205px;
	left: 38.614px;
	top: 68.888px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_12_mv {
	fill: transparent;
	stroke: rgba(255,114,114,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_mv {
	overflow: visible;
	position: absolute;
	width: 10.268px;
	height: 1px;
	left: 26.875px;
	top: 61.474px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_13_mw {
	fill: transparent;
	stroke: rgba(255,114,114,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_13_mw {
	overflow: visible;
	position: absolute;
	width: 10.268px;
	height: 1px;
	left: 26.875px;
	top: 63.327px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_14_mx {
	fill: transparent;
	stroke: rgba(255,114,114,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_14_mx {
	overflow: visible;
	position: absolute;
	width: 10.268px;
	height: 1px;
	left: 26.875px;
	top: 65.181px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_45_my {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 810.957px;
	top: 342.65px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Map___Brown__EN__.html;
	cursor: pointer;
}
#noun_Myanmar_3353450_mz {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_37_m {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_215_m {
	fill: rgba(148,20,45,1);
}
.Path_215_m {
	overflow: visible;
	position: absolute;
	width: 70.044px;
	height: 146.179px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#noun_Gas_Mask_54734_m {
	position: absolute;
	width: 62.63px;
	height: 61.315px;
	left: 0px;
	top: 21.292px;
	overflow: visible;
}
#Ellipse_243_m {
	fill: rgba(255,255,255,1);
}
.Ellipse_243_m {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 29.147px;
	top: 42.493px;
}
#Ellipse_244_m {
	fill: rgba(255,255,255,1);
}
.Ellipse_244_m {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 29.147px;
	top: 53.654px;
}
#Ellipse_245_m {
	fill: rgba(255,255,255,1);
}
.Ellipse_245_m {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 24.323px;
	top: 45.279px;
}
#Ellipse_246_m {
	fill: rgba(255,255,255,1);
}
.Ellipse_246_m {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 33.988px;
	top: 50.859px;
}
#Ellipse_247_m {
	fill: rgba(255,255,255,1);
}
.Ellipse_247_m {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 24.323px;
	top: 50.851px;
}
#Ellipse_248_m {
	fill: rgba(255,255,255,1);
}
.Ellipse_248_m {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 33.988px;
	top: 45.271px;
}
#Ellipse_249_m {
	fill: rgba(255,255,255,1);
}
.Ellipse_249_m {
	position: absolute;
	overflow: visible;
	width: 4.185px;
	height: 4.186px;
	left: 29.147px;
	top: 48.064px;
}
#Path_623_na {
	fill: rgba(255,255,255,1);
}
.Path_623_na {
	overflow: visible;
	position: absolute;
	width: 32.915px;
	height: 27.901px;
	left: 14.701px;
	top: 10.377px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_624_nb {
	fill: rgba(255,255,255,1);
}
.Path_624_nb {
	overflow: visible;
	position: absolute;
	width: 62.63px;
	height: 61.315px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_641_nc {
	fill: rgba(255,255,255,1);
}
.Path_641_nc {
	overflow: visible;
	position: absolute;
	width: 5.85px;
	height: 5.85px;
	left: 36.452px;
	top: 40.776px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_640_nd {
	fill: rgba(255,255,255,1);
}
.Path_640_nd {
	overflow: visible;
	position: absolute;
	width: 5.85px;
	height: 5.85px;
	left: 20.099px;
	top: 40.776px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_99_ne {
	position: absolute;
	width: 34px;
	height: 20px;
	left: 901px;
	top: 17px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Map___Purple__MM_.html;
	cursor: pointer;
}
#Dark___Selection_Controls3_Swi_nf {
	position: absolute;
	width: 34px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_Color_l_Track_ng {
	fill: rgba(184,181,228,0.502);
}
._Color_l_Track_ng {
	position: absolute;
	overflow: visible;
	width: 34px;
	height: 14px;
	left: 0px;
	top: 3px;
}
#_Color_l_Thumb_nh {
	fill: rgba(151,148,222,1);
}
._Color_l_Thumb_nh {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#States_ni {
	fill: rgba(0,160,255,1);
}
.States_ni {
	display: none;
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 907px;
	top: 7px;
}
#EN_nj {
	left: 847px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: Libre Baskerville;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#_nk {
	left: 953px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: Libre Baskerville;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Rectangle_811_nl {
	fill: rgba(116,78,194,1);
}
.Rectangle_811_nl {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 157px;
	left: 199px;
	top: 377px;
}
#Health_alert_everyone_may_expe {
	left: 217px;
	top: 394px;
	position: absolute;
	overflow: visible;
	width: 306px;
	height: 102px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Group_1296_nn {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 806.924px;
	top: 131.246px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Map___Orange__EN__.html;
	cursor: pointer;
}
#Group_40_no {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#noun_Myanmar_3353450_np {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_37_nq {
	position: absolute;
	width: 70.044px;
	height: 146.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_215_nr {
	fill: rgba(255,147,25,1);
}
.Path_215_nr {
	overflow: visible;
	position: absolute;
	width: 70.044px;
	height: 146.179px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_605_ns {
	fill: rgba(255,255,255,1);
}
.Path_605_ns {
	overflow: visible;
	position: absolute;
	width: 8.89px;
	height: 3.335px;
	left: 15.285px;
	top: 49.231px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_604_nt {
	fill: rgba(255,255,255,1);
}
.Path_604_nt {
	overflow: visible;
	position: absolute;
	width: 8.555px;
	height: 3.231px;
	left: 38.47px;
	top: 48.918px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_335_nu {
	fill: rgba(255,255,255,1);
}
.Path_335_nu {
	overflow: visible;
	position: absolute;
	width: 13.841px;
	height: 4.969px;
	left: 25.777px;
	top: 58.64px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1297_nv {
	position: absolute;
	width: 143.77px;
	height: 91.005px;
	left: 32.23px;
	top: 410px;
	overflow: visible;
}
#Path_662_nw {
	fill: rgba(116,78,194,1);
}
.Path_662_nw {
	overflow: visible;
	position: absolute;
	width: 9.781px;
	height: 16.955px;
	left: 94.617px;
	top: 39.154px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_663_nx {
	fill: rgba(116,78,194,1);
}
.Path_663_nx {
	overflow: visible;
	position: absolute;
	width: 9.782px;
	height: 16.954px;
	left: 58.425px;
	top: 40.051px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_664_ny {
	fill: rgba(116,78,194,1);
}
.Path_664_ny {
	overflow: visible;
	position: absolute;
	width: 21.984px;
	height: 11.576px;
	left: 70.024px;
	top: 57.25px;
	transform: matrix(1,0,0,1,0,0);
}
#noun_Cloud_23746_nz {
	fill: rgba(116,78,194,1);
}
.noun_Cloud_23746_nz {
	overflow: visible;
	position: absolute;
	width: 143.77px;
	height: 91.005px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}