.mediaViewInfo {
	--web-view-name: Slide 2 - MM;
	--web-view-id: Slide_2_-_MM;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Slide_2_-_MM;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Slide_2_-_MM {
	position: absolute;
	width: 1024px;
	height: 600px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Slide 2 - MM;
	--web-view-id: Slide_2_-_MM;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#States_fj {
	fill: rgba(0,160,255,1);
}
.States_fj {
	display: none;
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 907px;
	top: 7px;
}
#___PM10______PM25_____ {
	left: 58px;
	top: 200px;
	position: absolute;
	overflow: visible;
	width: 666px;
	height: 469px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(112,112,112,1);
}
#__fl {
	left: 619.914px;
	top: 564px;
	position: absolute;
	overflow: visible;
	width: 4px;
	white-space: nowrap;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(0,0,0,1);
}
#__fm {
	left: 257px;
	top: 589px;
	position: absolute;
	overflow: visible;
	width: 4px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(0,0,0,1);
}
#Image_48 {
	position: absolute;
	width: 294px;
	height: 206px;
	left: 723px;
	top: 331px;
	overflow: visible;
}
#Source__httpswwwbusiness-stand {
	left: 763px;
	top: 560px;
	position: absolute;
	overflow: visible;
	width: 216px;
	white-space: nowrap;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 7px;
	color: rgba(0,0,0,1);
}
#What_is_PM_and_how_does_it_get {
	left: 324px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 377px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
	letter-spacing: -0.23299999237060548px;
}
#PM_______ {
	left: 27px;
	top: 70px;
	position: absolute;
	overflow: visible;
	width: 971px;
	height: 119px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(112,112,112,1);
}
#Group_1314_fr {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 964px;
	top: 273px;
	overflow: visible;
	--web-animation: fadein 0.4s ease-out;
	--web-action-type: page;
	--web-action-target: Slide_3___MM.html;
	cursor: pointer;
}
#Ellipse_3_fs {
	fill: rgba(255,255,255,1);
	stroke: rgba(43,84,110,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3_fs {
	position: absolute;
	overflow: visible;
	width: 34px;
	height: 34px;
	left: 0px;
	top: 0px;
}
#noun_Next_1833638_ft {
	position: absolute;
	width: 5.818px;
	height: 7.011px;
	left: 14.178px;
	top: 13.503px;
	overflow: visible;
}
#Group_8_fu {
	position: absolute;
	width: 5.818px;
	height: 7.011px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_1_fv {
	fill: rgba(43,84,110,1);
	stroke: rgba(43,84,110,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1_fv {
	overflow: visible;
	position: absolute;
	width: 6.818px;
	height: 8.063px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1315_fw {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 10px;
	top: 273px;
	overflow: visible;
	--web-animation: fadein 0.4s ease-out;
	--web-action-type: page;
	--web-action-target: Slide_1___MM.html;
	cursor: pointer;
}
#Ellipse_15_fx {
	fill: rgba(255,255,255,1);
	stroke: rgba(43,84,110,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_15_fx {
	position: absolute;
	overflow: visible;
	width: 34px;
	height: 34px;
	left: 0px;
	top: 0px;
}
#noun_Next_1833638_fy {
	position: absolute;
	width: 5.818px;
	height: 7.011px;
	left: 13.761px;
	top: 13.503px;
	overflow: visible;
}
#Group_8_fz {
	position: absolute;
	width: 5.818px;
	height: 7.011px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_1_f {
	fill: rgba(43,84,110,1);
	stroke: rgba(43,84,110,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1_f {
	overflow: visible;
	position: absolute;
	width: 6.818px;
	height: 8.063px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1327_f {
	position: absolute;
	width: 125px;
	height: 9px;
	left: 450px;
	top: 567px;
	overflow: visible;
}
#Path_1490 {
	fill: transparent;
	stroke: rgba(44,101,141,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1490 {
	overflow: visible;
	position: absolute;
	width: 9px;
	height: 9px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_f {
	fill: rgba(44,101,141,1);
	stroke: rgba(44,101,141,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4_f {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 29px;
	top: 0px;
}
#Ellipse_4_ga {
	fill: transparent;
	stroke: rgba(44,101,141,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4_ga {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 58px;
	top: 0px;
}
#Ellipse_4_gb {
	fill: transparent;
	stroke: rgba(44,101,141,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4_gb {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 87px;
	top: 0px;
}
#Ellipse_4_gc {
	fill: transparent;
	stroke: rgba(44,101,141,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4_gc {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 116px;
	top: 0px;
}
#EN_f {
	left: 847px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: Libre Baskerville;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#_f {
	left: 953px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: Libre Baskerville;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Dark___Selection_Controls3_Swi_f {
	position: absolute;
	width: 34px;
	height: 20px;
	left: 901px;
	top: 17px;
	overflow: visible;
	--web-animation: fadein 0.4s ease-out;
	--web-action-type: page;
	--web-action-target: Slide_2___EN.html;
	cursor: pointer;
}
#_Color_l_Track_ga {
	fill: rgba(112,236,247,0.502);
}
._Color_l_Track_ga {
	position: absolute;
	overflow: visible;
	width: 34px;
	height: 14px;
	left: 0px;
	top: 3px;
}
#_Color_l_Thumb_gb {
	fill: rgba(112,236,247,1);
}
._Color_l_Thumb_gb {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 14px;
	top: 0px;
}