.mediaViewInfo {
	--web-view-name: Slide 5 - MM;
	--web-view-id: Slide_5_-_MM;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Slide_5_-_MM;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Slide_5_-_MM {
	position: absolute;
	width: 1024px;
	height: 600px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Slide 5 - MM;
	--web-view-id: Slide_5_-_MM;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#States {
	fill: rgba(0,160,255,1);
}
.States {
	display: none;
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 907px;
	top: 7px;
}
#_-____-________line_chart__ {
	left: 27px;
	top: 64px;
	position: absolute;
	overflow: visible;
	width: 971px;
	height: 242px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(112,112,112,1);
}
#Group_1309 {
	position: absolute;
	width: 468px;
	height: 245px;
	left: 62px;
	top: 290px;
	overflow: visible;
}
#Group_1308 {
	position: absolute;
	width: 468px;
	height: 245px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_1313 {
	position: absolute;
	width: 467px;
	height: 167px;
	left: 525px;
	top: 326px;
	overflow: visible;
}
#Group_1312 {
	position: absolute;
	width: 467px;
	height: 167px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Source_httpsdatastudiogoogleco {
	left: 60px;
	top: 539px;
	position: absolute;
	overflow: visible;
	width: 420px;
	white-space: nowrap;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(0,0,0,1);
}
#_ {
	left: 257px;
	top: 589px;
	position: absolute;
	overflow: visible;
	width: 4px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(0,0,0,1);
}
#Relationship_between_number_of {
	left: 225px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 543px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
	letter-spacing: -0.23299999237060548px;
}
#Group_1315 {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 10px;
	top: 273px;
	overflow: visible;
	--web-animation: fadein 0.4s ease-out;
	--web-action-type: page;
	--web-action-target: Slide_4__MM.html;
	cursor: pointer;
}
#Ellipse_15 {
	fill: rgba(255,255,255,1);
	stroke: rgba(43,84,110,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_15 {
	position: absolute;
	overflow: visible;
	width: 34px;
	height: 34px;
	left: 0px;
	top: 0px;
}
#noun_Next_1833638 {
	position: absolute;
	width: 5.818px;
	height: 7.011px;
	left: 13.761px;
	top: 13.503px;
	overflow: visible;
}
#Group_8 {
	position: absolute;
	width: 5.818px;
	height: 7.011px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_1 {
	fill: rgba(43,84,110,1);
	stroke: rgba(43,84,110,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 6.818px;
	height: 8.063px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1327 {
	position: absolute;
	width: 125px;
	height: 9px;
	left: 450px;
	top: 567px;
	overflow: visible;
}
#Ellipse_4 {
	fill: transparent;
	stroke: rgba(44,101,141,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 0px;
	top: 0px;
}
#Ellipse_4_dn {
	fill: transparent;
	stroke: rgba(44,101,141,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4_dn {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 29px;
	top: 0px;
}
#Ellipse_4_do {
	fill: transparent;
	stroke: rgba(44,101,141,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4_do {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 58px;
	top: 0px;
}
#Ellipse_4_dp {
	fill: transparent;
	stroke: rgba(44,101,141,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4_dp {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 87px;
	top: 0px;
}
#Path_1492 {
	fill: rgba(44,101,141,1);
	stroke: rgba(44,101,141,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1492 {
	overflow: visible;
	position: absolute;
	width: 9px;
	height: 9px;
	left: 116px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#EN {
	left: 847px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: Libre Baskerville;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
# {
	left: 953px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: Libre Baskerville;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Dark___Selection_Controls3_Swi {
	position: absolute;
	width: 34px;
	height: 20px;
	left: 901px;
	top: 17px;
	overflow: visible;
	--web-animation: fadein 0.4s ease-out;
	--web-action-type: page;
	--web-action-target: Slide_5___EN.html;
	cursor: pointer;
}
#_Color_l_Track {
	fill: rgba(112,236,247,0.502);
}
._Color_l_Track {
	position: absolute;
	overflow: visible;
	width: 34px;
	height: 14px;
	left: 0px;
	top: 3px;
}
#_Color_l_Thumb {
	fill: rgba(112,236,247,1);
}
._Color_l_Thumb {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 14px;
	top: 0px;
}