.mediaViewInfo {
	--web-view-name: Slide 4- EN;
	--web-view-id: Slide_4-_EN;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Slide_4-_EN;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Slide_4-_EN {
	position: absolute;
	width: 1024px;
	height: 600px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Slide 4- EN;
	--web-view-id: Slide_4-_EN;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#States_hx {
	fill: rgba(0,160,255,1);
}
.States_hx {
	display: none;
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 907px;
	top: 7px;
}
#The_pie_charts_below_show_the_ {
	left: 27px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 989px;
	height: 115px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(112,112,112,1);
}
#Group_1305_hz {
	position: absolute;
	width: 493px;
	height: 233px;
	left: 247px;
	top: 250px;
	overflow: visible;
}
#Group_1304_h {
	position: absolute;
	width: 493px;
	height: 233px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Risk_Categories_by_percentage_h {
	left: 381px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 261px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
	letter-spacing: -0.23299999237060548px;
}
#Group_1314_h {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 964px;
	top: 273px;
	overflow: visible;
	--web-animation: fadein 0.4s ease-out;
	--web-action-type: page;
	--web-action-target: Slide_5___EN.html;
	cursor: pointer;
}
#Ellipse_3_h {
	fill: rgba(255,255,255,1);
	stroke: rgba(43,84,110,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3_h {
	position: absolute;
	overflow: visible;
	width: 34px;
	height: 34px;
	left: 0px;
	top: 0px;
}
#noun_Next_1833638_h {
	position: absolute;
	width: 5.818px;
	height: 7.011px;
	left: 14.178px;
	top: 13.503px;
	overflow: visible;
}
#Group_8_h {
	position: absolute;
	width: 5.818px;
	height: 7.011px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_1_h {
	fill: rgba(43,84,110,1);
	stroke: rgba(43,84,110,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1_h {
	overflow: visible;
	position: absolute;
	width: 6.818px;
	height: 8.063px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1315_h {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 10px;
	top: 273px;
	overflow: visible;
	--web-animation: fadein 0.4s ease-out;
	--web-action-type: page;
	--web-action-target: Slide_3___EN.html;
	cursor: pointer;
}
#Ellipse_15_h {
	fill: rgba(255,255,255,1);
	stroke: rgba(43,84,110,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_15_h {
	position: absolute;
	overflow: visible;
	width: 34px;
	height: 34px;
	left: 0px;
	top: 0px;
}
#noun_Next_1833638_ia {
	position: absolute;
	width: 5.818px;
	height: 7.011px;
	left: 13.761px;
	top: 13.503px;
	overflow: visible;
}
#Group_8_ia {
	position: absolute;
	width: 5.818px;
	height: 7.011px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_1_ib {
	fill: rgba(43,84,110,1);
	stroke: rgba(43,84,110,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1_ib {
	overflow: visible;
	position: absolute;
	width: 6.818px;
	height: 8.063px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1327_ic {
	position: absolute;
	width: 125px;
	height: 9px;
	left: 450px;
	top: 567px;
	overflow: visible;
}
#Ellipse_4_id {
	fill: transparent;
	stroke: rgba(44,101,141,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4_id {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 0px;
	top: 0px;
}
#Ellipse_4_ie {
	fill: transparent;
	stroke: rgba(44,101,141,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4_ie {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 29px;
	top: 0px;
}
#Ellipse_4_if {
	fill: transparent;
	stroke: rgba(44,101,141,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4_if {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 58px;
	top: 0px;
}
#Ellipse_4_ig {
	fill: rgba(44,101,141,1);
	stroke: rgba(44,101,141,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4_ig {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 87px;
	top: 0px;
}
#Ellipse_4_ih {
	fill: transparent;
	stroke: rgba(44,101,141,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4_ih {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 116px;
	top: 0px;
}
#Group_99_ii {
	position: absolute;
	width: 34px;
	height: 20px;
	left: 901px;
	top: 17px;
	overflow: visible;
	--web-animation: fadein 0.4s ease-out;
	--web-action-type: page;
	--web-action-target: Slide_4__MM.html;
	cursor: pointer;
}
#Dark___Selection_Controls3_Swi_ij {
	position: absolute;
	width: 34px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_Color_l_Track_ik {
	fill: rgba(184,181,228,0.502);
}
._Color_l_Track_ik {
	position: absolute;
	overflow: visible;
	width: 34px;
	height: 14px;
	left: 0px;
	top: 3px;
}
#_Color_l_Thumb_il {
	fill: rgba(151,148,222,1);
}
._Color_l_Thumb_il {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#EN_im {
	left: 847px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: Libre Baskerville;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#_in {
	left: 953px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: Libre Baskerville;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}